Binaries/*
Build/*
Intermediate/*
iModel.sln
Content/Maps/Iter/*
Saved/*
Plugins/iModel3d/Binaries/*
Plugins/iModel3d/Build/*
Plugins/iModel3d/Intermediate/*
iModel.xcworkspace
*_BuiltData.uasset
*.xcuserdatad
