Binaries/*
Build/*
Intermediate/*
iTwinExperience.sln
Content/Maps/Iter/*
Saved/*
.vs/*
Plugins/iTwin/Binaries/*
Plugins/iTwin/Build/*
Plugins/iTwin/Intermediate/*
iTwinExperience.xcworkspace
*_BuiltData.uasset
*.xcuserdatad
*.sln